* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D9FEFF;
    color: #292929;
}

header {
    padding: 2rem 4rem;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_preto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* width: 195px; */
}

.cabecalho_logo h1 {
    font-family: "urbana", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 88px;
}

.cabecalho_logo h3 {
    font-family: "urbana", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    margin-bottom: -35px;
}

.cabecalho_texto {
    font-family: "urbana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: -20px;
    letter-spacing: 3px;
}

.cabecalho a {
    text-decoration: none;
    color: #292929;
}

.cabecalho a:hover {
    color: #05C7CC;
}

.cabecalho_preto a {
    text-decoration: none;
    color: #EBEBEB;
}

.cabecalho_preto a:hover {
    color: #05C7CC;
}

.cabecalho_contato h3 {
    font-family: "urbana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 25px;
}

.cabecalho_contato h2 {
    font-family: "urbana", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
}

.vermelho {
    background-color: #EE5268;
}

.laranja {
    background-color: #F49F51;
}

.amarelo {
    background-color: #FCDD59;
}

.verde {
    background-color: #50B378;
}

.azul {
    background-color: #5471F6;
}

.roxo {
    background-color: #6A429D;
}

.branco {
    background-color: #FFF;
}

.preto {
    background-color: #000;
}



footer {
    font-family: "urbana", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 2rem 10px 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container {
    color: #292929;
}

.container_preto {
    color: #FFF;
}

.social {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.instagram {
    width: 32px;
    height: 32px;
    background-image: url(./imagens/instagram.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.instagram_preto {
    width: 32px;
    height: 32px;
    background-image: url(./imagens/instagram_preto.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

a.instagram:hover,
a.instagram_preto:hover {
    width: 32px;
    height: 32px;
    background-image: url(./imagens/instagramhover.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
} 

.github {
    width: 35px;
    height: 38px;
    background-image: url(./imagens/github.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    text-decoration: none;
}

.github_preto {
    width: 35px;
    height: 38px;
    background-image: url(./imagens/github_preto.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    text-decoration: none;
}

a.github:hover,
a.github_preto:hover {
    width: 35px;
    height: 38px;
    background-image: url(./imagens/githubhover.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.contato {
    display: block;
    margin: 60px auto;
    min-height: calc(100vh - 355px); 
    padding-bottom: 0px; 
}

.contato_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato_titulo {
    font-family: "urbana", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 24px;
}

form input,
form textarea,
form button {
    display: block;
    width: 410px;
    margin-bottom: 8px;
    padding: 10px;
    background-color: #E5FAFA;
    border: 1px solid #707070;
    margin-bottom: 24px;
}

form textarea {
    resize: none;
    height: 125px;
}

form p {
    font-family: "urbana", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
}

input::placeholder,
textarea::placeholder {
    font-family: "urbana", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    color: #292929;
}
placeholder {
    color: #292929;
}

input:focus, textarea:focus {
    outline-color: #292929;
}

form button {
    width: 218px;
    height: 40px;
    margin: 0 auto;
    font-family: "urbana", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    box-shadow: 5px 5px 8px #00000055;
    border: 1px solid #707070;
    cursor: pointer;
}

form button:hover {
    background-color: #05C7CC;
}

.container_conteudo {
    display: flex;
    border: solid 2px #383838;
    width: 63%;
    height: 561px;
}

.container_conteudo_preto {
    display: flex;
    border: solid 2px #EBEBEB;
    width: 63%;
    height: 561px;
}

.conteudo {
    padding: 64px 33px 0 33px;
}

.conteudo_preto {
    color: #EBEBEB;
}

.titulo_cor {
    font-family: "urbana", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    padding-bottom: 23px;
    text-align: center;
}

.texto_cor {
    line-height: 24px;
    text-align: justify;
    font-family: "urbana", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.referencia {
    /* text-decoration: none; */
    color: #292929;
}

.conteudo_imagem {
    height: 557px;
    width: 480px;
}

@media screen and (min-width: 1728px) {
    .cores_botoes a,
    .botao a {
        height: 90px;
    }
    .container_botao:hover .texto_botao,
    .container_botao:hover .texto_botao_preto {
        visibility: visible;
    }
    
    .container_botao {
        position: relative;
        display: inline-block;
    }
    
    .container_botao .texto_botao {
        visibility: hidden;
        width: 100%;
        text-align: center;
        padding: 25px 0;
        position: absolute;
        z-index: 1;
        font-family: "urbana", sans-serif;
        font-weight: 400;
        font-style: normal; 
        font-size: 30px;
        color: #292929;
    }
    .texto_botao_preto {
        visibility: hidden;
        width: 100%;
        text-align: center;
        padding: 25px 0;
        position: absolute;
        z-index: 1;
        font-family: "urbana", sans-serif;
        font-weight: 400;
        font-style: normal; 
        font-size: 30px;
        color: #FFF;
    }

    .container_conteudo {
        display: flex;
        border: solid 2px #383838;
        width: 63%;
        height: 720px;
    }
    
    .container_conteudo_preto {
        display: flex;
        border: solid 2px #EBEBEB;
        width: 63%;
        height: 720px;
    }
    
    .conteudo {
        padding: 84px 33px 0 33px;
    }
    .conteudo_imagem {
        height: 716px;
        width: 620px;
    }

    
}
@media screen and (max-width: 450px) {
    header {
        padding: 2rem 2rem;
    }
    .cabecalho_logo h1 {
        font-family: "urbana", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 44px;
    }
    
    .cabecalho_logo h3 {
        font-family: "urbana", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        margin-bottom: -17px;
    }
    .cabecalho_contato h3 {
        font-family: "urbana", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 17px;
        line-height: 12px;
    }
    
    .cabecalho_contato h2 {
        font-family: "urbana", sans-serif;
        font-weight: 700;
        font-style: italic;
        font-size: 20px;
    }
}